/* Анимации (экран 1) */

.textblock1:hover {
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
  transition: 0.5s;
  color: #FFEC51;

}
.textblock2:hover {
  -webkit-transform: rotateZ(-20deg);
  -ms-transform: rotateZ(-20deg);
  transform: rotateZ(-20deg);
  transition: 0.5s;
  color: #F3A2BC;
}


.circle1:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle2:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle3:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle4:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle5:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle6:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle7:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle8:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle9:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle10:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle11:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle12:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle13:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle14:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle15:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle16:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.circle17:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}

.rectangle1:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}
.rectangle2:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}
.rectangle3:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}


.cross1:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross2:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross3:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross4:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross5:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross6:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross7:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}

.helpimg:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}

.helpimg1a:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}


.helpimg1b:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}






@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


/* Анимации (экран 2) */

.text1a:hover {
  transition: 0.5s;
  color: #FFEC51;

}
.text2a:hover {
  transition: 0.5s;
  color: #F3A2BC;
}



.circle1a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle2a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle3a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle4a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle5a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle6a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle7a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle8a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle9a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle10a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle11a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle12a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle13a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle14a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle15a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle16a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle17a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle18a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle19a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}


.rectangle1a:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}
.rectangle2a:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}
.rectangle3a:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}
.rectangle4a:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}
.rectangle5a:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}
.rectangle6a:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}

.cross1a:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross2a:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross3a:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross4a:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross5a:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross6a:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross7a:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross8a:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross9a:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}


.okbotton1:hover {
  background-color: #F3A2BC;
}

.figimg1a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.3s;
}

.figimg2a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.3s;
}

.figimg3a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.3s;
}

.closeimg:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.3s;
}

.okbotton2:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}

.chooseimg1:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.chooseimg2:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.chooseimg3:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.chooseimg4:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.chooseimg5:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}
.chooseimg6:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}


.circle1b:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle2b:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle3b:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle4b:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle5b:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle6b:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle7b:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle8b:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}
.circle9b:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow: 0 0 1.5vw 0.6vw rgba(215, 215, 215, 0.5);
}

.main_text:hover {
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
  transition: 0.5s;
  color: #FFEC51;

}
.main_text2:hover {
  -webkit-transform: rotateZ(-20deg);
  -ms-transform: rotateZ(-20deg);
  transform: rotateZ(-20deg);
  transition: 0.5s;
  color: #F3A2BC;
}

.cross1b:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross2b:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross3b:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross4b:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross5b:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
.cross6b:hover {
  -webkit-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
  transition: 0.3s;
}
