@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {

  .circle1a {
    left: 6.5vw;
    top: 13.5vw;
  }

  .circle2a {
    left: 31vw;
    top: 5.486vw;
  }

  .circle3a {
    left: 53vw;
    top: 12.292vw;
  }

  .circle4a {
    left: 62vw;
    top: 17vw;
  }

  .circle5a {
    left: 68.403vw;
    top: 3vw;
  }

  .circle6a {
    left: 87vw;
    top: -4vw;
  }

  .circle8a {
    left: 86vw;
    top: 28vw;
  }

  .circle9a {
    left: 48.056vw;
    top: 31vw;
  }

  .circle10a {
    left: 6vw;
    top: 32vw;
  }

  .circle11a{
    left: 15vw;
    top: 60vw;
  }

  .circle12a{
    left: 7vw;
    top: 53vw;
  }

  .circle13a{
    left: 25.903vw;
    top: 46vw;
  }

  .circle14a{
    left: 55vw;
    top: 43vw;
  }

  .circle15a{
    left: 52vw;
    top: 54vw;
  }

  .circle16a{
    left: 82.153vw;
    top: 57vw;
  }

  .circle18a{
    left: 30vw;
    top: 30vw;
  }

  .circle19a{
    width: 30vw;
    height: 30vw;
    left: 73vw;
    top: 53vw;
  }

  .rectangle1a{
    width: 1.430vw;
    height: 30vw;
    left: 0vw;
    top: 7vw;
  }

  .rectangle3a{
    left: 40vw;
    top: 32vw;
  }

  .rectangle4a{
    left: 62vw;
    top: 45vw;
  }

  .rectangle5a{
    left: 62.500vw;
    top: -4vw;
  }

  .whiteimg1 {
    width: 30vw;
    left: 12.222vw;
    top: 36vw;
  }

  .whiteimg2 {
    width: 40vw;
    left: 30vw;
  }

  .figimg1a {
    width: 20vw;
    height: 20vw;
    left: 7vw;
    top: 13vw;
  }

  .figimg2a {
    left: 59.690vw;
    top: 37vw;
    transform: rotate(30deg);
  }

  .figimg3a {
    left: 86vw;
    top: 26vw;
  }



}


/* iPad Portrait */
@media only screen and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

  .screen2 {
    width: 768px;
    height: 1024px;
    overflow: hidden;
    position: absolute;
    margin-top: 0vw;
  }

  .helpimg1a {
    position: absolute;
    width: 11vw;
    height: 11vw;
    left: 88vw;
  }

  .circle1a {
    left: 6.5vw;
    top: 16vw;
  }

  .circle2a {
    left: 31vw;
    top: 5.486vw;
  }

  .circle3a {
    left: 53vw;
    top: 12.292vw;
  }

  .circle4a {
    left: 62vw;
    top: 23vw;
  }

  .circle5a {
    left: 68.403vw;
    top: 3vw;
  }

  .circle6a {
    left: 87vw;
    top: -4vw;
  }

  .circle8a {
    width: 35vw;
    height: 35vw;
    left: 80vw;
    top: 28vw;
  }

  .circle9a {
    left: 48.056vw;
    top: 45vw;
  }

  .circle10a {
    left: 6vw;
    top: 32vw;
  }

  .circle11a{
    width: 30vw;
    height: 30vw;
    left: 15vw;
    top: 105vw;
  }

  .circle12a{
    width: 15vw;
    height: 15vw;
    left: 7vw;
    top: 100vw;
  }

  .circle13a{
    left: 15vw;
    top: 60vw;
  }

  .circle14a{
    left: 55vw;
    top: 65vw;
  }

  .circle15a{
    left: 50vw;
    top: 75vw;
  }

  .circle16a{
    left: 82.153vw;
    top: 85vw;
  }

  .circle17a{
    position: absolute;
    width: 40vw;
    height: 40vw;
    left: -3.333vw;
    top: -15vw;
  }


  .circle18a{
    left: 30vw;
    top: 55vw;
  }

  .circle19a{
    width: 40vw;
    height: 40vw;
    left: 65vw;
    top: 105vw;
  }

  .rectangle1a{
    width: 3vw;
    height: 24.861vw;
    left: 5vw;
    top: 75vw;
    transform: rotate(-99.42deg);
  }

  .rectangle2a{
    position: absolute;
    width: 2.876vw;
    height: 36.227vw;
    left: 43vw;
    top: 115.257vw;

    background: #F3A2BC;
    transform: matrix(-0.8, -0.6, -0.6, 0.8, 0, 0);
  }

  .rectangle3a{
    position: absolute;
    width: 2.876vw;
    height: 36.227vw;
    left: 55vw;
    top: 42.079vw;

    background: #FFCCD6;
    transform: matrix(-0.8, -0.6, -0.6, 0.8, 0, 0);
  }

  .rectangle4a{
    position: absolute;
    width: 2.876vw;
    height: 25.294vw;
    left: 10vw;
    top: 109vw;
    background: #FFCCD6;
    transform: matrix(0.27, -0.96, -0.96, -0.27, 0, 0);
  }

  .rectangle5a{
    width: 2.681vw;
    height: 46.615vw;
    left: 82vw;
    top: 94vw;
    transform: rotate(-79.64deg);
  }

  .rectangle6a{
    width: 1.663vw;
    height: 35vw;
    left: 79vw;
    top: -3.809vw;
    transform: rotate(35.52deg);
  }

  .colorimg1a {
    width: 11vw;
    left: -4.167vw;
    top: 25vw;
    transform: rotate(-45deg);
  }

  .colorimg2a {
    width: 45.573vw;
    left: 75.521vw;
    top: 80vw;
    z-index: -1;
  }

  .colorimg3a {
    position: absolute;
    width: 30vw;
    left: 33vw;
    top: -3.472vw;
  }

  .colorimg4a {
    position: absolute;
    width: 35vw;
    left: 77vw;
    top: 30vw;
    transform: rotate(-25deg);
  }

  .whiteimg1 {
    position: absolute;
    width: 40vw;
    left: 12.222vw;
    top: 70vw;
    z-index: 1;
  }

  .whiteimg2 {
    width: 50vw;
    left: 20vw;
    top: 25vw;
  }



  .cross3a{
    width: 4vw;
    left: 3.454vw;
    top: 68vw;
  }

  .cross4a{
    width: 5vw;
    left: 40vw;
    top: 26.528vw;
  }

  .cross5a{
    width: 3.564vw;
    left: 17.997vw;
    top: 45vw;
  }

  .cross6a{
    width: 3vw;
    left: 60vw;
    top: 3vw;
  }

  .cross7a{
    width: 4vw;
    left: 86vw;
    top: 13vw;
  }

  .cross8a{
    width: 4vw;
    left: 88vw;
    top: 54vw;
  }

  .cross9a{
    width: 4vw;
    left: 60vw;
    top: 100vw;
  }

  .figimg1a {
    width: 21vw;
    top: 15vw;
  }

  .figimg2a {
    width: 15vw;
    left: 57vw;
    top: 67vw;
  }

  .figimg3a {
    width: 34vw;
    left: 80vw;
    top: 27vw;
  }

}


/* iPhone Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: portrait) {

.text1a {
  width: 158px;
  height: 38px;
  left: 17px;
  top: 19px;
  font-size: 20px;
  line-height: 96%;
}

.text2a {
  width: 154px;
  height: 9px;
  left: 17px;
  top: 62px;
  font-size: 9px;
  line-height: 96%;
}

.helpimg1a {
  width: 71px;
  height: 71px;
  left: 285px;
  top: 7px;
}

.circle6a {
  width: 187px;
  height: 187px;
  left: 228px;
  top: -23px;
}

.circle7a {
  width: 82px;
  height: 82px;
  left: 214px;
  top: 101px;
}

.circle1a {
  width: 118px;
  height: 118px;
  left: -30px;
  top: 113px;
}

.circle2a {
  width: 98px;
  height: 98px;
  left: 134px;
  top: 225px;
}

.circle3a {
  width: 49px;
  height: 48px;
  left: 123px;
  top: 287px;
}

.circle13a {
  width: 123px;
  height: 123px;
  left: -25px;
  top: 342px;
}

.circle9a {
  width: 100px;
  height: 100px;
  left: 292px;
  top: 453px;

}

.circle11a {
  width: 136px;
  height: 136px;
  left: 79px;
  top: 693px;
}

.circle14a {
  width: 119px;
  height: 119px;
  left: 113px;
  top: 448px;
}

.circle12a {
  width: 96px;
  height: 96px;
  left: 31px;
  top: 665px;
}

.circle4a {
  width: 147px;
  height: 147px;
  left: 159px;
  top: 619px;
}

.circle8a {
  width: 189.27px;
  height: 181.84px;
  left: 240px;
  top: 300px;
}

.circle17a {
  width: 332px;
  height: 332px;
  left: -119px;
  top: -137px;

  border: 5px solid #FFEC51;
  box-sizing: border-box;
}

.circle18a {
  width: 104px;
  height: 104px;
  left: -26px;
  top: 434px;

  border: 5px solid #FFFFFF;
  box-sizing: border-box;
}

.circle5a {
  display: none;
}

.circle16a {
  display: none;
}

.circle15a {
  display: none;
}

.circle10a {
  display: none;
}

.circle19a {
  width: 240px;
  height: 240px;
  left: 247px;
  top: 603px;

  border: 5px solid #F3A2BC;
  box-sizing: border-box;
}

.rectangle1a {
  position: absolute;
  width: 20.59px;
  height: 358px;
  left: 380px;
  top: 500px;

  background: linear-gradient(0deg, #21B8EB, #21B8EB), #21B8EB;
  transform: rotate(-79.64deg);
}

.rectangle2a {
  position: absolute;
  width: 22.09px;
  height: 278.22px;
  left: -10px;
  top: 510px;

  background: #F3A2BC;
  transform: matrix(-0.8, -0.6, -0.6, 0.8, 0, 0);
}

.rectangle3a {
  display: none;

}

.rectangle4a {
  position: absolute;
  width: 22.09px;
  height: 278.22px;
  left: 400px;
  top: 80px;

  background: #FFCCD6;
  transform: matrix(-0.34, -0.94, -0.94, 0.34, 0, 0);
}

.rectangle5a {
  display: none;
}

.rectangle6a {
  position: absolute;
  width: 12.77px;
  height: 266.37px;
  left: 10px;
  top: 240px;

  background: linear-gradient(0deg, #FFEC51, #FFEC51), #21B8EB;
  transform: rotate(35.52deg);
}

.colorimg1a {
  width: 70px;
  left: 0px;
  top: 40px;
}

.colorimg2a {
  width: 200px;
  left: 230px;
  top: 400px;
  z-index: 1;
}

.colorimg3a {
  width: 120px;
  left: 177px;
  top: 0px;
}

.colorimg4a {
  display: none;
}

.whiteimg1{
  width: 200px;
  left: 85px;
  top: 560px;
}

.whiteimg2{
  width: 150px;
  left: 65.35px;
  top: 250px;
}

.figimg1a {
  left: -2.89%;
  right: 78.97%;
  top: 15%;
  bottom: 72.86%;
  transform: rotate(35deg);
}

.figimg2a {
  width: 128.69px;
  height: 128.85px;
  left: 260px;
  top: 310px;
  transform: matrix(1, 0.05, -0.04, 1, 0, 0);
}

.figimg3a {
  width: 90.31px;
  height: 90.31px;
  left: 130.09px;
  top: 451.5px;
  transform: rotate(6.42deg);
}

.cross1a {
  width: 2vw;
  top: 25vw;
  left: 30vw;
}

.cross3a {
  width: 4vw;
  top: 40vw;
  left: 30vw;
}

.cross4a {
  width: 4vw;
  top: 60vw;
}

.cross5a {
  width: 4vw;
  left: 40vw;
  top: 110vw;
}

.cross6a {
  width: 5vw;
  left: 20vw;
  top: 180vw;
}

.cross7a {
  width: 5vw;
  left: 70vw;
  top: 10vw;
}

.cross8a {
  width: 5vw;
  left: 80vw;
}

.cross9a {
  width: 5vw;
  top: 150vw;
  left: 55vw;
}

}
