@media only screen
and (min-device-width: 1440px)
and (max-device-width: 1440px)
and (orientation: landscape) {

  .body {
    width: 1440px;
    height: 900px;
    overflow: hidden;
    position: absolute;
    margin-top: 0vw;
  }

  .screen6 {
    position: absolute;
    width: 1440px;
    height: 900px;
    overflow: hidden;

  }
}




/* iPad Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {

  .main_text {
    position: absolute;
    width: 710px;
    height: 172px;
    left: 157px;
    top: 286px;

    font-family: 'Akzidenz-Grotesk Pro';
    font-style: normal;
    font-weight: 700;
    font-stretch: expanded;
    font-size: 90px;
    line-height: 96%;

    text-align: center;

    color: #FFFFFF;
  }


  .main_text2{
    position: absolute;
    width: 394px;
    height: 22px;
    left: 315px;
    top: 459.47px;

    font-family: 'Akzidenz-Grotesk Pro';
    font-style: normal;
    font-weight: 400;
    font-stretch: expanded;
    font-size: 23px;
    line-height: 96%;


    color: #FFFFFF;
  }

  .circle1b {
    position: absolute;
    width: 165.48px;
    height: 165.48px;
    left: 29px;
    top: 412.89px;

    background: #21B8EB;
    transform: rotate(-20.11deg);
    border-radius: 50%;
  }

  .circle2b {
    position: absolute;
    width: 85.2px;
    height: 85.2px;
    left: 128.41px;
    top: 489.03px;
    border-radius: 50%;
  }

  .circle3b {
    position: absolute;
    width: 255px;
    height: 255px;
    left: 508px;
    top: -31px;
    background: #FFCCD6;
    border-radius: 50%;
  }

  .circle4b {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 536px;
    top: 162px;
    background: #FFEC51;
    border-radius: 50%;
  }

  .circle5b {
    position: absolute;
    width: 92px;
    height: 92px;
    left: 799px;
    top: 78px;
    background: #F3A2BC;
    border-radius: 50%;
  }

  .circle6b {
    position: absolute;
    width: 157px;
    height: 157px;
    left: 924px;
    top: 302px;

    background: #FFEC51;
    border-radius: 50%;
  }

  .circle7b {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 930px;
    top: 286px;
    background: #FFFFFF;
    border-radius: 50%;
  }

  .circle8b {
    position: absolute;
    width: 158px;
    height: 158px;
    left: 915px;
    top: 626px;
    background: #21B8EB;
    border-radius: 50%;
  }

  .circle9b {
    width: 215px;
    height: 217px;
    left: -44px;
    top: 630px;
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
  }

  .helpimg1b {
    position: absolute;
    left: 85.94%;
    right: 0.29%;
    top: -0.65%;
    bottom: 82.29%;
    z-index: 1;
  }

  .whiteimg1b {
    position: absolute;
    width: 480px;
    left: 0px;
    top: 0px;
  }

  .whiteimg2b {
    position: absolute;
    width: 130px;
    left: 730px;
    top: 380px;
  }

  .colorimg1b{
    position: absolute;
    width: 72.49px;
    height: 254.86px;
    left: 37px;
    top: 156px;
    z-index: -1;
  }

  .colorimg2b{
    position: absolute;
    left: 73.264vw;
    top: 0vw;
  }

  .colorimg3b{
    position: absolute;
    width: 400px;
    left: 310px;
    top: 499px;
  }

  .rectangle1b {
    position: absolute;
    width: 37.76px;
    height: 247.22px;
    left: 80px;
    top: 612.52px;

    background: #FFCCD6;
    transform: matrix(-0.8, -0.6, -0.6, 0.8, 0, 0);
  }

  .rectangle2b {
    position: absolute;
    width: 2.983vw;
    height: 30.010vw;
    left: 26.389vw;
    top: -8.333vw;

    background: linear-gradient(0deg, #21B8EB, #21B8EB), #21B8EB;
    transform: rotate(-46.87deg);
  }

  .figimg1b {
    position: absolute;
    width: 64.93px;
    height: 64.93px;
    left: 200px;
    top: 664px;

    transform: rotate(83.66deg);
  }

  .figimg2b {
    position: absolute;
    width: 74.81px;
    height: 74.81px;
    left: 901.88px;
    top: 582px;

    transform: rotate(6.05deg);
  }

  .cross1b {
    position: absolute;
    width: 39.65px;
    height: 41.21px;
    left: 99.55px;
    top: 450px;

    transform: rotate(4.13deg);
  }

  .cross2b {
    position: absolute;
    width: 32.41px;
    height: 33.68px;
    left: 871px;
    top: 200px;

    transform: rotate(-4.54deg);
  }

  .cross3b {
    position: absolute;
    width: 34.15px;
    height: 35.49px;
    left: 646.99px;
    top: 640px;

    transform: rotate(24.24deg);
  }

  .cross4b {
    position: absolute;
    width: 34.3px;
    left: 552.33px;
    top: 93.58px;

    transform: rotate(-7.35deg);
  }

  .cross5b {
    position: absolute;
    width: 30px;
    left: 302.62px;
    top: 650px;

    transform: rotate(24.24deg);
  }

  .cross6b {
    position: absolute;
    width: 22.25px;
    height: 23.13px;
    left: 897.5px;
    top: 489px;

    transform: rotate(24.24deg);
  }

  .chooseimgs {
    position: absolute;
    top: 50px;
  }

  .choosetext {
    top: 200px;
  }
}

















/* iPad Portrait */
@media only screen and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

  .body {
    width: 768px;
    height: 1024px;
    overflow: hidden;
    position: absolute;
    margin-top: 0vw;
  }

  .main_text {
    position: absolute;
    width: 592px;
    height: 144px;
    left: 88px;
    top: 414px;

    font-family: 'Akzidenz-Grotesk Pro';
    font-style: normal;
    font-weight: 700;
    font-stretch: expanded;
    font-size: 75px;
    line-height: 96%;

    text-align: center;

    color: #FFFFFF;
  }


  .main_text2{
    position: absolute;
    width: 325px;
    height: 19px;
    left: 222px;
    top: 567.47px;

    font-family: 'Akzidenz-Grotesk Pro';
    font-style: normal;
    font-weight: 400;
    font-stretch: expanded;
    font-size: 19px;
    line-height: 96%;


    color: #FFFFFF;
  }

  .circle1b {
    position: absolute;
    width: 185.52px;
    height: 185.52px;
    left: -60px;
    top: 561.89px;

    background: #21B8EB;
    transform: rotate(-35.94deg);
    border-radius: 50%;
  }

  .circle2b {
    position: absolute;
    width: 95.52px;
    height: 95.52px;
    left: 70.51px;
    top: 613.61px;

    background: #FFEC51;
    transform: rotate(-35.94deg);
    border-radius: 50%;
  }

  .circle3b {
    position: absolute;
    width: 255px;
    height: 255px;
    left: 552px;
    top: -43px;

    background: #FFCCD6;
    border-radius: 50%;
  }

  .circle4b {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 580px;
    top: 150px;

    background: #FFEC51;
    border-radius: 50%;
  }

  .circle5b {
    position: absolute;
    width: 92px;
    height: 92px;
    left: 231px;
    top: 234px;

    background: #F3A2BC;
    border-radius: 50%;
  }

  .circle6b {
    position: absolute;
    width: 157px;
    height: 157px;
    left: 543px;
    top: 915px;

    background: #FFEC51;
    border-radius: 50%;
  }

  .circle7b {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 514px;
    top: 910px;

    background: #FFFFFF;
    border-radius: 50%;
  }

  .circle8b {
    position: absolute;
    width: 158px;
    height: 158px;
    left: -42px;
    top: 881px;

    background: #21B8EB;
    border-radius: 50%;
  }

  .circle9b {
    position: absolute;
    width: 292px;
    height: 294px;
    left: -65px;
    top: 768px;

    border: 10px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50%;
  }

  .helpimg1b {
    position: absolute;
    left: 80vw;;
    top: -0.65%;
    bottom: 82.29%;
    z-index: 1;
  }

  .whiteimg1b {
    position: absolute;
    width: 500px;
    left: 0px;
    top: 0px;
  }

  .whiteimg2b {
    position: absolute;
    width: 110px;
    left: 570px;
    top: 495px;
  }

  .colorimg1b{
    width: 59.44px;
    height: 209px;
    left: 58px;
    top: 154px;

    z-index: -1;
  }

  .colorimg2b{
    width: 400px;
    left: 449px;
    top: 280px;
  }

  .colorimg3b{
    position: absolute;
    width: 320px;
    left: 220px;
    top: 600px;
  }

  .rectangle1b {
    position: absolute;
    width: 24.74px;
    height: 700px;
    left: 0px;
    top: 650px;

    background: #FFCCD6;
    transform: matrix(-0.66, -0.75, -0.75, 0.66, 0, 0);
    z-index: 0;
  }

  .rectangle2b {
    position: absolute;
    width: 28.58px;
    height: 287.56px;
    left: 190.89px;
    top: -100px;

    background: linear-gradient(0deg, #21B8EB, #21B8EB), #21B8EB;
    transform: rotate(-34.29deg);
  }

  .figimg1b {
    position: absolute;
    width: 80px;
    left: 30px;
    top: 911px;

    transform: rotate(86.65deg);
  }

  .figimg2b {
    position: absolute;
    width: 60px;
    left: 498px;
    top: 730px;

    transform: rotate(-45deg);
  }

  .cross1b {
    position: absolute;
    width: 32.41px;
    left: 205px;
    top: 204.57px;

    transform: rotate(-4.54deg);
  }

  .cross2b {
    display: none;
  }

  .cross3b {
    position: absolute;
    width: 34.15px;
    left: 430px;
    top: 800px;

    transform: rotate(24.24deg);
  }

  .cross4b {
    position: absolute;
    width: 34.3px;
    height: 35.64px;
    left: 596.33px;
    top: 81.58px;

    transform: rotate(-7.35deg);
  }

  .cross5b {
    position: absolute;
    width: 22.25px;
    height: 23.13px;
    left: 271.5px;
    top: 871px;

    transform: rotate(24.24deg);
  }

  .cross6b {
    position: absolute;
    width: 24.88px;
    height: 25.86px;
    left: 475.62px;
    top: 186px;

    transform: rotate(24.24deg);
  }

  .choosetext {
    position: absolute;
    width: 432px;
    height: 45px;
    left: 169px;
    top: 325px;


    font-family: 'Akzidenz-Grotesk Pro';'
    font-style: normal;
    font-weight: 700;
    font-stretch: expanded;
    font-size: 35px;
    line-height: 4.028vw;
    color: #FFFFFF;

    z-index: 3;
  }

  .closeimg {
    position: absolute;
    width: 41.99px;
    left: 715.69px;
    top: 19px;
  }

  .chooseimg1 {
    position: absolute;
    width: 85.14px;
    height: 83.47px;
    left: 162.08px;
    top: 459.41px;
  }

  .chooseimg2 {
    position: absolute;
    width: 105.57px;
    height: 98.56px;
    left: 329.8px;
    top: 462.81px;

  }

  .chooseimg3 {
    position: absolute;
    width: 105.57px;
    height: 103.09px;
    left: 504.32px;
    top: 456px;

  }

  .chooseimg4 {
    position: absolute;
    width: 113.65px;
    height: 103.19px;
    left: 154px;
    top: 579.45px;

  }

  .chooseimg5 {
    position: absolute;
    width: 86.84px;
    height: 86.84px;
    left: 342.57px;
    top: 596.47px;
  }

  .chooseimg6 {
    position: absolute;
    width: 120.89px;
    height: 102.48px;
    left: 494.11px;
    top: 597.32px;
  }



}






/* iPhone Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: portrait) {

body {
  width: 375px;
  height: 812px;
  position: absolute;
  overflow: hidden;
  margin: 0 auto;
}

.main_text {
  position: absolute;
  width: 276px;
  height: 68px;
  left: 50px;
  top: 362px;

  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 700;
  font-stretch: expanded;
  font-size: 35px;
  line-height: 96%;

  text-align: center;

  color: #FFFFFF;
}


.main_text2{
  position: absolute;
  width: 154px;
  height: 19px;
  left: 111px;
  top: 429px;

  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-stretch: expanded;
  font-size: 9px;
  line-height: 96%;


  color: #FFFFFF;
}

.circle1b {
  position: absolute;
  width: 138.52px;
  height: 138.52px;
  left: -68px;
  top: 446.65px;

  background: #21B8EB;
  transform: rotate(-29.71deg);
  border-radius: 50%;
}

.circle2b {
  position: absolute;
  width: 71.32px;
  height: 71.32px;
  left: 30.31px;
  top: 505.55px;

  background: #FFEC51;
  transform: rotate(-29.71deg);
  border-radius: 50%;
}

.circle3b {
  position: absolute;
  width: 183px;
  height: 183px;
  left: 212px;
  top: -46px;

  background: #FFCCD6;
  border-radius: 50%;
}

.circle4b {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 247px;
  top: 102px;

  background: #FFEC51;
  border-radius: 50%;
}

.circle5b {
  position: absolute;
  width: 92px;
  height: 92px;
  left: 27px;
  top: 191px;

  background: #F3A2BC;
  border-radius: 50%;
}

.circle6b {
  position: absolute;
  width: 107px;
  height: 107px;
  left: 307px;
  top: 249px;

  background: #FFEC51;
  border-radius: 50%;
}

.circle7b {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 287px;
  top: 246px;

  background: #FFFFFF;
  border-radius: 50%;
}

.circle8b {
  position: absolute;
  width: 158px;
  height: 158px;
  left: 243px;
  top: 674px;

  background: #21B8EB;
  border-radius: 50%;
}

.circle9b {
  position: absolute;
  width: 238px;
  height: 239px;
  left: -120px;
  top: 660.93px;

  border: 10px solid #FFFFFF;
  box-sizing: border-box;
  transform: rotate(-11.91deg);
  border-radius: 50%;
}

.helpimg1b {
  position: absolute;
  width: 100px;
  left: 75vw;
  top: 0vw;
  z-index: 1;
}

.whiteimg1b {
  position: absolute;
  width: 300px;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.whiteimg2b {
  width: 110px;
  left: 275px;
  top: 400px;

  z-index: -1;
}

.colorimg1b{
  width: 70px;
  left: 0px;
  top: 90px;
}

.colorimg2b{
  width: 250px;
  left: 175px;
  top: 210px;
  z-index: -1;
}

.colorimg3b{
  position: absolute;
  width: 145px;
  left: 115px;
  top: 450px;

}

.rectangle1b {
  position: absolute;
  width: 20.14px;
  height: 305.3px;
  left: 20px;
  top: 609px;

  background: #FFCCD6;
  transform: matrix(-0.8, -0.6, -0.6, 0.8, 0, 0);
  z-index: 0;
}

.rectangle2b {
  position: absolute;
  width: 15.94px;
  height: 160.39px;
  left: 95.49px;
  top: -24px;

  background: linear-gradient(0deg, #21B8EB, #21B8EB), #21B8EB;
  transform: matrix(-0.91, 0.42, 0.42, 0.91, 0, 0);
}

.figimg1b {
  position: absolute;
  width: 100px;
  left: 270px;
  top: 686px;

  transform: rotate(15.01deg);
}

.figimg2b {
  position: absolute;
  width: 56.42px;
  height: 56.42px;
  left: 80px;
  top: 260px;

  transform: rotate(-180deg);
}

.cross1b {
  position: absolute;
  width: 18.87px;
  height: 19.61px;
  left: 323px;
  top: 164.49px;

  transform: rotate(-4.54deg);
}

.cross2b {
  display: none;
}

.cross3b {
  position: absolute;
  width: 16.12px;
  height: 16.75px;
  left: 238.88px;
  top: 504px;

  transform: rotate(24.24deg);
}

.cross4b {
  position: absolute;
  width: 17.25px;
  height: 17.93px;
  left: 240px;
  top: 71.98px;

  transform: rotate(-7.35deg);
}

.cross5b {
  position: absolute;
  width: 24.88px;
  height: 25.86px;
  left: 67.62px;
  top: 591px;

  transform: rotate(24.24deg);
}

.cross6b {
  position: absolute;
  width: 22.25px;
  height: 23.13px;
  left: 172.5px;
  top: 712px;

  transform: rotate(24.24deg);
}

.backgroundrec4{
  position: absolute;
  width: 483px;
  height: 900px;
  left: -42px;
  top: -44px;

}

.choosetext {
  position: absolute;
  width: 247px;
  height: 26px;
  left: 64px;
  top: 254px;


  font-family: 'Akzidenz-Grotesk Pro';'
  font-style: normal;
  font-weight: 700;
  font-stretch: expanded;
  font-size: 20px;
  line-height: 4.028vw;
  color: #FFFFFF;

  z-index: 3;
}

.closeimg {
  position: absolute;
  width: 35.7px;
  height: 35.7px;
  left: 327.24px;
  top: 24px;

}

.chooseimg1 {
  position: absolute;
  width: 52.82px;
  height: 51.79px;
  left: 103px;
  top: 328px;

}

.chooseimg2 {
  position: absolute;
  width: 65.49px;
  height: 61.15px;
  left: 97px;
  top: 494px;

}

.chooseimg3 {
  position: absolute;
  width: 65.49px;
  height: 63.96px;
  left: 97px;
  top: 400px;

}

.chooseimg4 {
  position: absolute;
  width: 70.51px;
  height: 64.02px;
  left: 205px;
  top: 493px;

}

.chooseimg5 {
  position: absolute;
  width: 53.87px;
  height: 53.87px;
  left: 213px;
  top: 327px;
}

.chooseimg6 {
  position: absolute;
  width: 75px;
  height: 63.58px;
  left: 203px;
  top: 400px;
}




}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (orientation: landscape) {


}
