@import "reset.css";
@import "fonts.css";
/* @import "responsive.css"; */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'AkzidenzGroteskPro';
  margin: 0 auto;
  background: black;
  width: 100vw;
  height: 100%;
  position: absolute;
}

.screen1 {
  background-color: black;
}

.textblock1{
  position: absolute;
  width: 54.792vw;
  height: 13.333vw;
  left: 22.639vw;
  top: 24.653vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 700;
	font-stretch: expanded;
  font-size: 6.944vw;
  line-height: 96%;
  text-align: center;

  color: #FFFFFF;
  z-index: 2;
}

.textblock2{
  position: absolute;
  width: 30.903vw;
  height: 1.736vw;
  left: 34.583vw;
  top: 38.542vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 200;
  font-stretch: expanded;
  font-size: 1.806vw;
  line-height: 96%;

  color: #FFFFFF;
}

.circle1 {
  position: absolute;
  width: 20.625vw;
  height: 20.625vw;
  left: -7.917vw;
  top: -2.917vw;
  border-radius: 50%;
  background: #21B8EB;

}

.circle2 {
  position: absolute;
  width: 4.167vw;
  height: 4.167vw;
  left: 6.736vw;
  top: 3vw;
  border-radius: 50%;
  background: #FFEC51;
}

.circle3 {
  position: absolute;
  width: 15.625vw;
  height: 15.625vw;
  left: 21.389vw;
  top: 4.931vw;
  border-radius: 50%;
  background: #F3A2BC;
  /* z-index: -1; */
}

.circle4 {
  position: absolute;
  width: 17.639vw;
  height: 17.639vw;
  left: -4.931vw;
  top: 10vw;
  border: 7px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
}

.circle5 {
  position: absolute;
  width: 30.139vw;
  height: 30.139vw;
  left: 0.694vw;
  top: 38.333vw;
  border: 7px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
}

.circle6 {
  position: absolute;
  width: 16.181vw;
  height: 16.181vw;
  left: 11.389vw;
  top: 32vw;
  background: #FFCCD6;
  border-radius: 50%;
}

.circle7 {
  position: absolute;
  width: 9.444vw;
  height: 9.444vw;
  left: 17vw;
  top: 45vw;
  background: #FFEC51;
  border-radius: 50%;
}

.circle8 {
  position: absolute;
  width: 19.028vw;
  height: 19.028vw;
  left: -5vw;
  top: 47.917vw;
  background: #FFFFFF;
  border-radius: 50%;
}

.circle9 {
  position: absolute;
  width: 25.486vw;
  height: 25.486vw;
  left: 38.542vw;
  top: -10.764vw;
  background: #FFFFFF;
  border-radius: 50%;
}

.circle10 {
  position: absolute;
  width: 31.250vw;
  height: 31.250vw;
  left: 76vw;
  top: -7.917vw;
  background: #FFCCD6;
  border-radius: 50%;
}

.circle11 {
  position: absolute;
  width: 11.181vw;
  height: 11.181vw;
  left: 72.778vw;
  top: 10vw;
  background: #FFEC51;
  border-radius: 50%;
  z-index: 1;
}

.circle12 {
  position: absolute;
  width: 5.972vw;
  height: 5.972vw;
  left: 84.792vw;
  top: 20.764vw;
  background: #FFFFFF;
  border-radius: 50%;
}

.circle13 {
  position: absolute;
  width: 8.056vw;
  height: 8.056vw;
  left: 76.250vw;
  top: 39.444vw;
  background: #F3A2BC;
  border-radius: 50%;
}

.circle14 {
  position: absolute;
  width: 18.264vw;
  height: 18.264vw;
  left: 66.875vw;
  top: 50.764vw;
  background: #21B8EB;
  border-radius: 50%;
}

.circle15 {
  position: absolute;
  width: 5.694vw;
  height: 5.694vw;
  left: 76.389vw;
  top: 52.500vw;
  background: #FFEC51;
  border-radius: 50%;
}

.circle16 {
  position: absolute;
  width: 11.806vw;
  height: 11.806vw;
  left: 60.972vw;
  top: 47.917vw;
  border: 7px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
}

.rectangle1 {
  position: absolute;
  width: 1.469vw;
  height: 16.008vw;
  left: 16.990vw;
  top: -1.302vw;
  background: #FFCCD6;
  transform: matrix(-0.5, -0.86, -0.86, 0.5, 0, 0);
  opacity: 1;
}

.rectangle2 {
  position: absolute;
  width: 1.924vw;
  height: 24.861vw;
  left: 53vw;
  top: -3.992vw;
  background: linear-gradient(0deg, #FFEC51, #FFEC51), #21B8EB;
  transform: rotate(-29.2deg);
  opacity: 1;
}

.rectangle3 {
  position: absolute;
  width: 2.698vw;
  height: 24.861vw;
  left: 95vw;
  top: 8vw;
  background: linear-gradient(0deg, #21B8EB, #21B8EB), #21B8EB;
  transform: rotate(-46.87deg);
  opacity: 1;
}

.colorimg1 {
  position: absolute;
  left: 0vw;
  top: 200px;
  z-index: 1;
}

.colorimg2 {
  position: absolute;
  right: 10vw;
  top: 0vw;
  z-index: 0;
}

.colorimg3 {
  position: absolute;
  right: 0vw;
  top: 33vw;
  z-index: 0;
}

.whiteimg {
  position: absolute;
  left: 28px;
  top: -6vw;
  z-index: 1;
}

.arrowimg1 {
  position: absolute;
  left: 50vw;
  top: 44.583vw;
}

.textblock3 {
  position: absolute;
  left: 40.972vw;
  top: 56.736vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.667vw;
  line-height: 2.153vw;

  color: #FFFFFF;
}

.cross1 {
  position: absolute;
  left: 4vw;
  top: 12.083vw;
}

.cross2 {
  position: absolute;
  left: 44.306vw;
  top: 7.240vw;
}

.cross3 {
  position: absolute;
  left: 62.681vw;
  top: 19.792vw;
}

.cross4 {
  position: absolute;
  left: 85.953vw;
  top: 3.750vw;
}

.cross5 {
  position: absolute;
  left: 39.863vw;
  top: 44.167vw;
}

.cross6 {
  position: absolute;
  left: 65.537vw;
  top: 51.181vw;
}

.cross7 {
  position: absolute;
  left: 79.236vw;
  top: 35.660vw;
}

.figimg1 {
  position: absolute;
  left: 22vw;
  top: 40vw;
}

.figimg2 {
  position: absolute;
  left: 54vw;
  top: 3.460vw;
}

.figimg3 {
  position: absolute;
  left: 78.5vw;
  top: 42vw;
}

.helpimg {
  position: absolute;
  left: 89.028vw;
  top: 0.972vw;
}


/* /////SCREEN2///// */

.screen2{
  position: absolute;
  margin: 0 auto;
}

.text1a{
  position: absolute;
  width: 27.431vw;
  height: 6.667vw;
  left: 2.153vw;
  top: 1.875vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 700;
	font-stretch: expanded;
  font-size: 3.472vw;
  line-height: 96%;
  text-align: left;

  color: #FFFFFF;
}

.text2a{
  position: absolute;
  width: 15.486vw;
  height: 0.833vw;
  left: 2.3vw;
  top: 8.8vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 200;
  font-stretch: expanded;
  font-size: 0.903vw;
  line-height: 96%;

  color: #FFFFFF;
}

.helpimg1a {
  position: absolute;
  width: 9.861vw;
  height: 9.861vw;
  left: 89.5vw;
  top: 0vw;
}

.circle1a {
  position: absolute;
  width: 22.292vw;
  height: 22.292vw;
  left: 6.5vw;
  top: 12.5vw;
  border-radius: 50%;
  background-color: #FFCCD6;
  background-repeat: no-repeat;
}

.circle2a {
  position: absolute;
  width: 18.056vw;
  height: 18.056vw;
  left: 30.139vw;
  top: 5.486vw;
  border-radius: 50%;
  background: #21B8EB;
}

.circle3a {
  position: absolute;
  width: 5.694vw;
  height: 5.694vw;
  left: 50vw;
  top: 12.292vw;
  border-radius: 50%;
  background: #FFEC51;
}

.circle4a {
  border-radius: 50%;
  position: absolute;
  width: 13.611vw;
  height: 13.611vw;
  left: 60.833vw;
  top: 12.292vw;
  background: #F3A2BC;
}

.circle5a {
  border-radius: 50%;
  position: absolute;
  width: 9.444vw;
  height: 9.444vw;
  left: 68.403vw;
  top: -1.944vw;
  background: #FFEC51;
}

.circle6a {
  border-radius: 50%;
  position: absolute;
  width: 19.028vw;
  height: 19.028vw;
  left: 86vw;
  top: -4.514vw;
  background-color: #FFCCD6;
  z-index: -1;
  background-repeat: no-repeat;
}

.circle7a {
  border-radius: 50%;
  position: absolute;
  width: 10.139vw;
  height: 10.139vw;
  left: 83vw;
  top: 9vw;

  background: #FFFFFF;
}

.circle8a {
  border-radius: 50%;
  position: absolute;
  width: 25vw;
  height: 25vw;
  left: 87vw;
  top: 22.500vw;

  background: #21B8EB;
}

.circle9a {
  border-radius: 50%;
  position: absolute;
  width: 6.944vw;
  height: 6.944vw;
  left: 48.056vw;
  top: 25.903vw;

  background: #FFFFFF;
}

.circle10a {
  border-radius: 50%;
  position: absolute;
  width: 9.583vw;
  height: 9.583vw;
  left: 10vw;
  top: 27.917vw;

  background: #21B8EB;
}

.circle11a{
  border-radius: 50%;
  position: absolute;
  width: 19.028vw;
  height: 19.028vw;
  left: 14.653vw;
  top: 50vw;

  background: #FFFFFF;
}

.circle12a{
  border-radius: 50%;
  position: absolute;
  width: 13.403vw;
  height: 13.403vw;
  left: 7.986vw;
  top: 43.681vw;

  background: #FFEC51;
}

.circle13a{
  border-radius: 50%;
  position: absolute;
  width: 20.486vw;
  height: 20.486vw;
  left: 25.903vw;
  top: 38.5vw;

  background: #F3A2BC;
}


.circle14a{
  border-radius: 50%;
  position: absolute;
  width: 20vw;
  height: 20vw;
  left: 61vw;
  top: 37.5vw;

  background: #FFEC51;
}


.circle15a{
  border-radius: 50%;
  position: absolute;
  width: 11.944vw;
  height: 11.944vw;
  left: 55.556vw;
  top: 46.389vw;

  background: #21B8EB;
}


.circle16a{
  border-radius: 50%;
  position: absolute;
  width: 9vw;
  height: 9vw;
  left: 82.153vw;
  top: 52.014vw;
  background-color: #FFCCD6;
  background-repeat: no-repeat;
}

.circle17a{
  position: absolute;
  width: 34.583vw;
  height: 34.583vw;
  left: -3.333vw;
  top: -3.333vw;
  border-radius: 50%;
  border: 0.694vw solid #FFEC51;
  box-sizing: border-box;
}

.circle18a{
  position: absolute;
  width: 11.806vw;
  height: 11.806vw;
  left: 33.819vw;
  top: 28.542vw;
  border-radius: 50%;
  border: 0.694vw solid #FFFFFF;
  box-sizing: border-box;
}

.circle19a{
  position: absolute;
  width: 27.500vw;
  height: 27.500vw;
  left: 71.250vw;
  top: 37.917vw;
  border-radius: 50%;
  border: 0.694vw solid #F3A2BC;
  box-sizing: border-box;
}

.rectangle1a{
  position: absolute;
  width: 1.430vw;
  height: 24.861vw;
  left: 0vw;
  top: 10.417vw;

  background: linear-gradient(0deg, #21B8EB, #21B8EB), #21B8EB;
  transform: rotate(-79.64deg);
}

.rectangle2a{
  position: absolute;
  width: 1.534vw;
  height: 19.321vw;
  left: 8.681vw;
  top: 50vw;

  background: #F3A2BC;
  transform: matrix(-0.8, -0.6, -0.6, 0.8, 0, 0);
}

.rectangle3a{
  position: absolute;
  width: 1.534vw;
  height: 13.490vw;
  left: 38.194vw;
  top: 26vw;

  background: #FFCCD6;
  transform: matrix(0.27, -0.96, -0.96, -0.27, 0, 0);
}

.rectangle4a{
  position: absolute;
  width: 1.534vw;
  height: 19.321vw;
  left: 62.500vw;
  top: 36.806vw;

  background: #FFCCD6;
  transform: matrix(-0.8, -0.6, -0.6, 0.8, 0, 0);
}

.rectangle5a{
  position: absolute;
  width: 2.014vw;
  height: 24.861vw;
  left: 62.500vw;
  top: -6.944vw;

  background: linear-gradient(0deg, #21B8EB, #21B8EB), #21B8EB;
  transform: rotate(-99.42deg);
  /* z-index: -1; */
}

.rectangle6a{
  position: absolute;
  width: 1.3vw;
  height: 24.861vw;
  left: 83.333vw;
  top: -4.514vw;

  background: linear-gradient(0deg, #FFEC51, #FFEC51), #21B8EB;
  transform: rotate(40deg);
}

.colorimg1a {
  position: absolute;
  width: 9.611vw;
  left: -4.167vw;
  top: 15.278vw;

  transform: rotate(-37.33deg);
}

.colorimg2a {
  position: absolute;
  width: 350px;
  height: 406.51px;
  left: 580px;
  top: 513.97px;
  z-index: -1;
}

.colorimg3a {
  position: absolute;
  width: 17.361vw;
  left: 30vw;
  top: -3.472vw;
}

.colorimg4a {
  position: absolute;
  width: 27.778vw;
  left: 69vw;
  top: 23vw;
}

.whiteimg1 {
  position: absolute;
  left: 12.222vw;
  top: 28vw;
  z-index: 1;
}

.whiteimg2 {
  position: absolute;
  left: 32vw;
  top: 5.556vw;
  z-index: 1;
}

.figimg1a {
  position: absolute;
  margin: 0 auto;
  width: 22.292vw;
  height: 22.292vw;
  left: 6.181vw;
  top: 11.597vw;
  background-image: url('../images/fig1a.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.figimg2a {
  position: absolute;
  margin: 0 auto;
  width: 22vw;
  height: 22vw;
  left: 59.690vw;
  top: 32.014vw;
  background-image: url('../images/fig2a.svg');
  background-repeat: no-repeat;
  transform: rotate(6.42deg);
  background-size: contain;
  background-position: center;
}

.figimg3a {
  background-image: url('../images/fig3a.svg');
  position: absolute;
  width: 24.306vw;
  height: 24.306vw;
  left: 87.5vw;
  top: 20.903vw;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cross1a{
  position: absolute;
  width: 2.157vw;
  left: 3.681vw;
  top: 13.782vw;

  transform: rotate(-4.54deg);

}

.cross2a{
  position: absolute;
  width: 3.577vw;
  left: 82.050vw;
  top: 23.816vw;

  transform: rotate(57.99deg);
}

.cross3a{
  position: absolute;
  width: 2.3vw;
  left: 3.454vw;
  top: 53.403vw;

  transform: rotate(42.66deg);
}

.cross4a{
  position: absolute;
  width: 3.692vw;
  left: 60.117vw;
  top: 26.528vw;

  transform: rotate(24.24deg);
}

.cross5a{
  position: absolute;
  width: 3.564vw;
  left: 17.997vw;
  top: 52.541vw;

  transform: rotate(-16.53deg);
}

.cross6a{
  position: absolute;
  width: 3vw;
  left: 51.908vw;
  top: 3vw;

  transform: rotate(24.24deg);
}

.cross7a{
  position: absolute;
  width: 2.329vw;
  left: 86.806vw;
  top: 4.603vw;

  transform: rotate(-7.35deg);
}

.cross8a{
  position: absolute;
  width: 3vw;
  left: 92.760vw;
  top: 53vw;

  transform: rotate(42.66deg);
}

.cross9a{
  position: absolute;
  width: 2.597vw;
  left: 46.386vw;
  top: 2.500vw;

  transform: rotate(24.24deg);
}

.infoimg1 {
  position: absolute;
  width: 49.492vw;
  height: 38.580vw;
  left: 25.278vw;
  top: 7.986vw;
  z-index: 3;
}

.backgroundrec1 {
  position: absolute;
  top: 0px;
  width: 142.857vw;
  height: 85.714vw;
  opacity: 70%;
  background: #000000;
  z-index: 2;
}

.okbotton1 {
  position: absolute;
  width: 8.214vw;
  height: 8.214vw;
  left: 47.357vw;
  top: 47.856vw;
  background: #FFFFFF;
  z-index: 3;
  border-radius: 50%;
}

.oktext1 {
  position: absolute;
  width: 3.429vw;
  height: 2.286vw;
  left: 49.714vw;
  top: 50.856vw;
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-stretch: expanded;
  font-weight: 400;
  font-size: 1.786vw;
  line-height: 2.286vw;
  text-align: center;
  color: #000000;
  z-index: 3;

}



.backgroundrec2 {
  position: absolute;
  width: 107.467vw;
  height: 70vw;
  left: -3.294vw;
  top: -0.878vw;
  opacity: 70%;
  background: #000000;
  z-index: 6;
}

.infoimg2 {
  position: absolute;
  width: 43.761vw;
  height: 34.068vw;
  left: 28.184vw;
  top: 7.540vw;
  z-index: 7;
}

.okbotton2 {
  position: absolute;
  width: 7.052vw;
  height: 7.052vw;
  left: 46.486vw;
  top: 41.581vw;
  background: #FFFFFF;
  z-index: 7;
  border-radius: 50%;
}

.oktext2 {
  position: absolute;
  width: 3.075vw;
  height: 2.050vw;
  left: 48.536vw;
  top: 44.070vw;
  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-stretch: expanded;
  font-size: 1.611vw;
  line-height: 2.050vw;
  text-align: center;
  color: #000000;
  z-index: 7;
}

.infoimg3 {
  position: absolute;
  width: 91.133vw;
  height: 71vw;
  left: 4.533vw;
  top: 65.333vw;
  z-index: 3;
}

.backgroundrec3 {
  position: absolute;
  top: 0vw;
  width: 150vw;
  height: 300vw;
  background: #000000;
  z-index: 2;
  opacity: 70%;
}

.okbotton3 {
  position: absolute;
  width: 14.696vw;
  height: 14.696vw;
  left: 42.675vw;
  top: 136.277vw;
  background: #FFFFFF;
  z-index: 2;
  border-radius: 50%;
}

.oktext3 {
  position: absolute;
  width: 29px;
  height: 19px;
  left: 174.05px;
  top: 530.49px;

  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-stretch: expanded;
  font-size: 15px;
  line-height: 19px;
  text-align: center;

  color: #000000;
  z-index: 3;
}

.bubble1 {
  position: absolute;
  width: 31.371vw;
  left: 17vw;
  top: 29.5vw;
  transform: rotate(-0.02deg);
  z-index: 2;
}

.bubble2 {
  position: absolute;
  width: 29.289vw;
  left: 74.5vw;
  top: 28vw;
  transform: rotate(30deg);
  z-index: 2;
}

.bubble3 {
  position: absolute;
  width: 18.286vw;
  left: 29vw;
  top: 0.714vw;
  transform: rotate(-77.69deg);
  z-index: 2;
}

.bubble4 {
  position: absolute;
  width: 21vw;
  left: 39vw;
  top: 22vw;
  transform: rotate(-63.64deg);
  z-index: 2;
}

.bubble5 {
  position: absolute;
  width: 31.410vw;
  height: 28.562vw;
  left: 60.491vw;
  top: 10.143vw;
  transform: rotate(45deg);
}


.hidden {
  opacity: 0%;
}

.blocker {
  display: none;
}

.blue {
  background: #21B8EB;
}

.yellow {
  background: #FFEC51;
}

.dark_pink {
  background: #F3A2BC;
}

.light_pink {
  background: #FFCCD6;;
}

.main_text {
  position: absolute;
  width: 65.694vw;
  height: 15.972vw;
  left: 17.014vw;
  top:20.972vw;

  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 700;
  font-stretch: expanded;
  font-size: 8.333vw;
  line-height: 96%;

  text-align: center;

  color: #FFFFFF;
    z-index: 3;
}

.bg5 {
  width: 100vw;
  height: 64.286vw;
  background: black;
  position: absolute;
  left: 0vw;
  top: 0vw;
  z-index: 2;
}


.main_text2{
  position: absolute;
  width: 35.625vw;
  height: 2.014vw;
  left: 32.083vw;
  top: 37.639vw;

  font-family: 'Akzidenz-Grotesk Pro';
  font-style: normal;
  font-weight: 400;
  font-stretch: expanded;
  font-size: 2.083vw;
  line-height: 96%;


  color: #FFFFFF;
  z-index: 3;
}

.circle1b {
  position: absolute;
  width: 18.264vw;
  height: 18.264vw;
  left: 9.722vw;
  top: 30.833vw;
  background: #21B8EB;
  border-radius: 50%;
    z-index: 5;
}

.circle2b {
  position: absolute;
  width: 9.444vw;
  height: 9.444vw;
  left: 17.083vw;
  top: 42.500vw;
  background: #FFEC51;
  border-radius: 50%;
    z-index: 5;
}

.circle3b {
  position: absolute;
  width: 26.597vw;
  height: 26.597vw;
  left: 59.028vw;
  top: -9.583vw;
  background: #FFCCD6;
  border-radius: 50%;
    z-index: 4;
}

.circle4b {
  position: absolute;
  width: 5.694vw;
  height: 5.694vw;
  left: 62.014vw;
  top: 10.556vw;
  background: #FFEC51;
  border-radius: 50%;
    z-index: 5;
}

.circle5b {
  position: absolute;
  width: 9.583vw;
  height: 9.583vw;
  left: 87.153vw;
  top: 9.653vw;
  background: #F3A2BC;
  border-radius: 50%;
    z-index: 3;
}

.circle6b {
  position: absolute;
  width: 13.403vw;
  height: 13.403vw;
  left: 91.944vw;
  top: 27.292vw;
  background: #FFEC51;
  border-radius: 50%;
    z-index: 3;
}

.circle7b {
  position: absolute;
  width: 6.944vw;
  height: 6.944vw;
  left: 94.583vw;
  top: 23.472vw;
  background: #FFFFFF;
  border-radius: 50%;
    z-index: 3;
}

.circle8b {
  position: absolute;
  width: 11.944vw;
  height: 11.944vw;
  left: 90.764vw;
  top: 52.708vw;
  background: #21B8EB;
  border-radius: 50%;
    z-index: 3;
}

.circle9b {
  position: absolute;
  width: 11.806vw;
  height: 11.806vw;
  left: -5.278vw;
  top: 51.250vw;
  border: 0.694vw solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
    z-index: 3;
}

.helpimg1b {
  position: absolute;
  left: 88.12%;
  right: 2.01%;
  top: -0.33%;
  bottom: 84.56%;
  z-index: 4;
}

.whiteimg1b {
  position: absolute;
  left: 0vw;
  top: -0.972vw;
    z-index: 3;
}

.whiteimg2b {
  position: absolute;
  left: 70.833vw;
  top: 30.208vw;
    z-index: 3;
}

.colorimg1b{
  position: absolute;
  left: 5.486vw;
  top: 17.014vw;
  z-index: 3;
}

.colorimg2b{
  position: absolute;
  left: 73.264vw;
  top: 0vw;
    z-index: 3;
}

.colorimg3b{
  position: absolute;
  left: 31.944vw;
  top: 42.500vw;
    z-index: 3;
}

.rectangle1b {
  position: absolute;
  width: 2.951vw;
  height: 19.321vw;
  left: 0vw;
  top: 48.982vw;

  background: #FFCCD6;
  transform: matrix(-0.8, -0.6, -0.6, 0.8, 0, 0);
    z-index: 3;
}

.rectangle2b {
  position: absolute;
  width: 2.983vw;
  height: 30.010vw;
  left: 26.389vw;
  top: -8.333vw;

  background: linear-gradient(0deg, #21B8EB, #21B8EB), #21B8EB;
  transform: rotate(-46.87deg);
    z-index: 3;
}

.figimg1b {
  position: absolute;
  width: 6.776vw;
  left: 9.722vw;
  top: 50.694vw;
  transform: rotate(83.66deg);
    z-index: 3;
}

.figimg2b {
  position: absolute;
  width: 10.417vw;
  left: 86%;
  top: 74%;
  bottom: -6.7%;
    z-index: 3;
}

.cross1b {
  position: absolute;
  width: 5.822vw;
  left: 16.998vw;
  top: 33.542vw;
  transform: rotate(24.24deg);
    z-index: 5;
}

.cross2b {
  position: absolute;
  width: 3.382vw;
  left: 88.056vw;
  top: 24.087vw;
  transform: rotate(-4.54deg);
    z-index: 3;
}

.cross3b {
  position: absolute;
  width: 3.564vw;
  left: 63.813vw;
  top: 54.306vw;
  transform: rotate(24.24deg);
    z-index: 3;
}

.cross4b {
  position: absolute;
  width: 3.579vw;
  left: 63.681vw;
  top: 3.374vw;
  transform: rotate(-7.35deg);
    z-index: 3;
}

.cross5b {
  position: absolute;
  width: 2.597vw;
  left: 27.080vw;
  top: 54.653vw;
  transform: rotate(24.24deg);
    z-index: 3;
}

.cross6b {
  position: absolute;
  width: 2.322vw;
  left: 85.297vw;
  top: 39.722vw;
  transform: rotate(24.24deg);
    z-index: 3;
}

.backgroundrec4 {
  position: absolute;
  width: 116.597vw;
  height: 150vw;
  left: 0vw;
  top: 0vw;
  background: rgba(0, 0, 0, 0.9);
  z-index: 3;
}

.choosetext {
  position: absolute;
  width: 34.236vw;
  height: 3.542vw;
  left: 32.847vw;
  top: 16.736vw;


  font-family: 'Akzidenz-Grotesk Pro';'
  font-style: normal;
  font-weight: 700;
  font-stretch: expanded;
  font-size: 2.778vw;
  line-height: 4.028vw;
  color: #FFFFFF;

  z-index: 3;
}

.closeimg {
  position: absolute;
  width: 4.312vw;
  height: 4.312vw;
  left: 94.508vw;
  top: 1.597vw;
  z-index: 3;
}

.chooseimg1 {
  margin: 0 auto;
  position: absolute;
  width: 6.944vw;
  height: 6.944vw;
  left: 31.840vw;
  top: 26.111vw;
  z-index: 3;
  background-image: url("../images/choose1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chooseimg2 {
  position: absolute;
  width: 8.611vw;
  height: 8.611vw;
  left: 45.520vw;
  top: 26.389vw;
  z-index: 3;
  background-image: url("../images/choose2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chooseimg3 {
  position: absolute;
  width: 8.611vw;
  height: 8.611vw;
  left: 59.756vw;
  top: 25.833vw;
  z-index: 3;
  background-image: url("../images/choose3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chooseimg4 {
  position: absolute;
  width: 9.5vw;
  height: 9.5vw;
  left: 31.181vw;
  top: 35.903vw;
  z-index: 3;
  background-image: url("../images/choose4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chooseimg5 {
  position: absolute;
  width: 7.083vw;
  height: 7.083vw;
  left: 46.562vw;
  top: 37.292vw;
  z-index: 3;
  background-image: url("../images/choose5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.chooseimg6 {
  position: absolute;
  width: 10vw;
  height: 9.861vw;
  left: 58.923vw;
  top: 37.361vw;
  z-index: 3;
  background-image: url("../images/choose6.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .inner6 {
  z-index: 6;
} */

.hidden {
  display: none;
}

.screen6 {
  display: none;
}
