@import "reset.css";
@import "fonts.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'AkzidenzGroteskPro';
  margin: 0 auto;
  background: black;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: absolute;
}


.text1a{
  position: absolute;
  width: 27.431vw;
  height: 6.667vw;
  left: 2.153vw;
  top: 1.875vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 700;
	font-stretch: expanded;
  font-size: 3.472vw;
  line-height: 96%;
  text-align: left;

  color: #FFFFFF;
}

.text2a{
  position: absolute;
  width: 15.486vw;
  height: 0.833vw;
  left: 2.3vw;
  top: 8.8vw;

  font-family: "Akzidenz-Grotesk Pro";
  font-weight: 200;
  font-stretch: expanded;
  font-size: 0.903vw;
  line-height: 96%;

  color: #FFFFFF;
}

.helpimg1a {
  position: absolute;
  width: 9.861vw;
  height: 9.861vw;
  left: 92vw;
  top: 0vw;
}

.circle1a {
  position: absolute;
  width: 22.292vw;
  height: 22.292vw;
  left: 6.5vw;
  top: 12.5vw;
  border-radius: 50%;
  background: #FFCCD6;
}

.circle2a {
  position: absolute;
  width: 18.056vw;
  height: 18.056vw;
  left: 30.139vw;
  top: 5.486vw;
  border-radius: 50%;
  background: #21B8EB;
}

.circle3a {
  position: absolute;
  width: 5.694vw;
  height: 5.694vw;
  left: 50vw;
  top: 12.292vw;
  border-radius: 50%;
  background: #FFEC51;
}

.circle4a {
  border-radius: 50%;
  position: absolute;
  width: 13.611vw;
  height: 13.611vw;
  left: 60.833vw;
  top: 12.292vw;
  background: #F3A2BC;
}

.circle5a {
  border-radius: 50%;
  position: absolute;
  width: 9.444vw;
  height: 9.444vw;
  left: 68.403vw;
  top: -1.944vw;
  background: #FFEC51;
}

.circle6a {
  border-radius: 50%;
  position: absolute;
  width: 19.028vw;
  height: 19.028vw;
  left: 86vw;
  top: -4.514vw;
  background: #FFCCD6;
  z-index: -1;
}

.circle7a {
  border-radius: 50%;
  position: absolute;
  width: 10.139vw;
  height: 10.139vw;
  left: 83vw;
  top: 9vw;

  background: #FFFFFF;

}

.circle8a {
  border-radius: 50%;
  position: absolute;
  width: 25vw;
  height: 25vw;
  left: 87vw;
  top: 22.500vw;

  background: #21B8EB;
}

.circle9a {
  border-radius: 50%;
  position: absolute;
  width: 6.944vw;
  height: 6.944vw;
  left: 48.056vw;
  top: 25.903vw;

  background: #FFFFFF;
}

.circle10a {
  border-radius: 50%;
  position: absolute;
  width: 9.583vw;
  height: 9.583vw;
  left: 10vw;
  top: 27.917vw;

  background: #21B8EB;
}

.circle11a{
  border-radius: 50%;
  position: absolute;
  width: 19.028vw;
  height: 19.028vw;
  left: 14.653vw;
  top: 50vw;

  background: #FFFFFF;
}

.circle12a{
  border-radius: 50%;
  position: absolute;
  width: 13.403vw;
  height: 13.403vw;
  left: 7.986vw;
  top: 43.681vw;

  background: #FFEC51;


}

.circle13a{
  border-radius: 50%;
  position: absolute;
  width: 20.486vw;
  height: 20.486vw;
  left: 25.903vw;
  top: 38.5vw;

  background: #F3A2BC;
}


.circle14a{
  border-radius: 50%;
  position: absolute;
  width: 20vw;
  height: 20vw;
  left: 61vw;
  top: 37.5vw;

  background: #FFEC51;

}


.circle15a{
  border-radius: 50%;
  position: absolute;
  width: 11.944vw;
  height: 11.944vw;
  left: 55.556vw;
  top: 46.389vw;

  background: #21B8EB;
}


.circle16a{
  border-radius: 50%;
  position: absolute;
  width: 6.736vw;
  height: 6.736vw;
  left: 82.153vw;
  top: 52.014vw;

  background: #FFCCD6;
}

.circle17a{
  position: absolute;
  width: 498px;
  height: 498px;
  left: -48px;
  top: -189px;
  border-radius: 50%;
  border: 10px solid #FFEC51;
  box-sizing: border-box;
}

.circle18a{
  position: absolute;
  width: 11.806vw;
  height: 11.806vw;
  left: 33.819vw;
  top: 28.542vw;
  border-radius: 50%;
  border: 0.694vw solid #FFFFFF;
  box-sizing: border-box;
}

.circle19a{
  position: absolute;
  width: 27.500vw;
  height: 27.500vw;
  left: 71.250vw;
  top: 37.917vw;
  border-radius: 50%;
  border: 0.694vw solid #F3A2BC;
  box-sizing: border-box;
}

.rectangle1a{
  position: absolute;
  width: 1.430vw;
  height: 24.861vw;
  left: 0vw;
  top: 10.417vw;

  background: linear-gradient(0deg, #21B8EB, #21B8EB), #21B8EB;
  transform: rotate(-79.64deg);
}

.rectangle2a{
  position: absolute;
  width: 1.534vw;
  height: 19.321vw;
  left: 8.681vw;
  top: 50vw;

  background: #F3A2BC;
  transform: matrix(-0.8, -0.6, -0.6, 0.8, 0, 0);
}

.rectangle3a{
  position: absolute;
  width: 1.534vw;
  height: 13.490vw;
  left: 38.194vw;
  top: 26vw;

  background: #FFCCD6;
  transform: matrix(0.27, -0.96, -0.96, -0.27, 0, 0);
}

.rectangle4a{
  position: absolute;
  width: 1.534vw;
  height: 19.321vw;
  left: 62.500vw;
  top: 36.806vw;

  background: #FFCCD6;
  transform: matrix(-0.8, -0.6, -0.6, 0.8, 0, 0);
}

.rectangle5a{
  position: absolute;
  width: 2.014vw;
  height: 24.861vw;
  left: 62.500vw;
  top: -6.944vw;

  background: linear-gradient(0deg, #21B8EB, #21B8EB), #21B8EB;
  transform: rotate(-99.42deg);
  z-index: -1;
}

.rectangle6a{
  position: absolute;
  width: 1.3vw;
  height: 24.861vw;
  left: 83.333vw;
  top: -4.514vw;

  background: linear-gradient(0deg, #FFEC51, #FFEC51), #21B8EB;
  transform: rotate(40deg);
}

.colorimg1a {
  position: absolute;
  width: 9.611vw;
  left: -4.167vw;
  top: 15.278vw;

  transform: rotate(-37.33deg);
}

.colorimg2a {
  position: absolute;
  width: 350px;
  height: 406.51px;
  left: 580px;
  top: 513.97px;
  z-index: -1;
}

.colorimg3a {
  position: absolute;
  width: 17.361vw;
  left: 30vw;
  top: -3.472vw;
}

.colorimg4a {
  position: absolute;
  width: 27.778vw;
  left: 69vw;
  top: 23vw;
}

.whiteimg1 {
  position: absolute;
  left: 12.222vw;
  top: 28vw;
  z-index: 1;
}

.whiteimg2 {
  position: absolute;
  left: 32vw;
  top: 5.556vw;
  z-index: 1;
}

.figimg1a {
  position: absolute;
  width: 22.292vw;
  height: 22.292vw;
  left: 6.181vw;
  top: 11.597vw;
}

.figimg2a {
  position: absolute;
  width: 7.167vw;
  left: 59.690vw;
  top: 32.014vw;

  transform: rotate(6.42deg);
}

.figimg3a {
  position: absolute;
  width: 24.306vw;
  left: 87.5vw;
  top: 20.903vw;
  z-index: 1;
}

.cross1a{
  position: absolute;
  width: 2.157vw;
  left: 3.681vw;
  top: 13.782vw;

  transform: rotate(-4.54deg);

}

.cross2a{
  position: absolute;
  width: 3.577vw;
  left: 82.050vw;
  top: 23.816vw;

  transform: rotate(57.99deg);
}

.cross3a{
  position: absolute;
  width: 2.3vw;
  left: 3.454vw;
  top: 53.403vw;

  transform: rotate(42.66deg);
}

.cross4a{
  position: absolute;
  width: 3.692vw;
  left: 60.117vw;
  top: 26.528vw;

  transform: rotate(24.24deg);
}

.cross5a{
  position: absolute;
  width: 3.564vw;
  left: 17.997vw;
  top: 52.541vw;

  transform: rotate(-16.53deg);
}

.cross6a{
  position: absolute;
  width: 3vw;
  left: 51.908vw;
  top: 3vw;

  transform: rotate(24.24deg);
}

.cross7a{
  position: absolute;
  width: 2.329vw;
  left: 86.806vw;
  top: 4.603vw;

  transform: rotate(-7.35deg);
}

.cross8a{
  position: absolute;
  width: 3vw;
  left: 92.760vw;
  top: 53vw;

  transform: rotate(42.66deg);
}

.cross9a{
  position: absolute;
  width: 2.597vw;
  left: 46.386vw;
  top: 2.500vw;

  transform: rotate(24.24deg);
}
